:root{
    --primary-clr:#aac7f3;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins",sans-serif;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100px;
    padding: 50px;
    transition: background-image 0.3s ease;
    background: var(--primary-clr);
    background-image: linear-gradient(rgba(0,0,0,0.5)),rgba(0,0,0,0.5);
}
.wrapper{
    display: flex;
    width: 1200px;
    min-width: 900px;
    border: radius 20px;
    overflow: hidden;
}

.sidebar{
    width: 30%;
    min-width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #5598fc;
}

.main{
    width: 1000px;
    min-width: 100px;
    padding: 20px 40px;
    position: relative;
    padding-bottom: 90px;
    background-color: #c7daf7;
    border: radius 20px;
    overflow: hidden;
}